.red{
    background-color: rgb(223, 176, 114);}

.purple {background-color: aqua;}

.csr{background-color: blueviolet;}

.rti{background-color: brown;}

.curso{background-color: green;}
    
.fafa{background-color: crimson;}

.feeer{background-color: aquamarine;}

.tt{background-color: rgb(0, 255, 149);}
     